/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  width: 100vw;
  height: 100vh;
  color: white;
  background: linear-gradient(
    90deg,
    rgb(1, 16, 20) -29.09%,
    rgb(1, 24, 39) 51.77%,
    rgb(0, 0, 0) 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

